@import 'vars.less';
@nav-cta-color: #fff;

.back-to-top {
  @media screen and (max-width: 1024px) {
    color: darkred;
  }
  position: fixed;
  bottom: 5%;
  right: 13%;
  z-index: 9999;
  color: #fff;
  display: none;

  &:hover {
    cursor: pointer;
  }
}

#search-bar {
  @media screen and (max-width:1024px) {
    position: absolute;
    top: 99%;
    transform: translate(-50%,0);
    width: 90%;
    box-shadow: none;
    padding: 2%;
  }
  @media screen and (max-width:810px) {
    padding: 3%;
  }
  @media screen and (max-width:428px) {
    flex-wrap: wrap;
    padding: 5%;
    width: 100%;
  }
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9998;
  top: 50%;
  background: #fff;
  border: 5px solid #000;
  padding: 1% 2%;
  width: 80%;
  display: flex;
  box-shadow: -10px 10px 0 rgba(0,0,0, .8);
  justify-content: center;
  display: none;

  svg {
    @media screen and (max-width:1700px) {
      color: #000;
    }
    @media screen and (max-width: 1024px) {
      display: none !important;
    }
    display: block;
    color: #fff;
    top: -55%;
    right: -2%;
    transform: translate(0,0);
  }

  select {
    @media screen and (max-width:428px) {
      flex-basis: 100%;
      text-align: center;
      margin: 0 0 4%;
      border-radius: 0;

    }
    flex-basis: 20%;
    text-align: right;
    border: none;
    background: darkred;
    color: #fff;
    text-transform: uppercase;
    padding: 1%;
    font-family: @headers-font;
    font-size: 24px;
    margin: 0 4%;
    -webkit-appearance: none;

    &:hover {
      cursor: pointer;
    }

    option {
      letter-spacing: 1px;
    }
  }

  div {
    position: relative;
    display: inline;

    input {
      @media screen and (max-width:428px) {
        flex-basis: 100%;
      }
      flex-basis: 50%;
      border: none;
      border-bottom: 1px solid #000;
      padding: 1%;
      font-family: @headers-font;
      font-size: 24px;
      border-radius:0;
      -webkit-appearance: none;
      outline:none;

      &:focus {
        outline: none;
      }

      &[type="button"] {
        border-radius: 0;
        background: #ddd;
        -webkit-appearance: none;

        &:hover {
          background: darkred;
          color: #fff;
          cursor: pointer;
        }
      }
    }

    ul {
      position: absolute;
      top: 273%;
      left: 0;
      width: 100%;
      background: #fff;
      border: 1px solid;
      list-style-type: none;
      display: none;
      height: 40vh;
      overflow: auto;

      li {
        padding: 4%;
        display: none;

        &:hover {
          cursor: pointer;
          background: darkred;
          color: #fff;

          a {
            color: #fff;
          }
        }

        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }
}

.expand {
  top: -1% !important;
}

.show {
  display: inline !important;
}

.header {
  @media screen and (max-width:1024px) {
    padding: 2% 0;
  }
  text-align: center;
  position: relative;
  max-width: 1680px;
  margin: 0 auto;

  img {
    width: 200px;
    display: inline-block;
  }

  svg {
    @media screen and (max-width:1024px) {
      display: inline;
    }
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    display: none;

    &.fa-bars {
      left: 4%;
    }

    &.fa-search {
      right: 4%;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .search-bar {
    @media screen and (max-width:1024px) {
      top: 50%;
      transform: translateY(-50%);
      right: 4%;
    }
    text-align: right;
    position: absolute;
    right: 0;
    width: 27%;
    bottom: 2%;

    svg {
      @media screen and (max-width:1024px) {
        top: 50%;
        transform: translateY(-50%);
      }
      display: inline;
      position: relative;
      top: 0;
      transform: translateY(0);
      right: 0;
    }

    input {
      @media screen and (max-width:1024px) {
        width: 80%;
        top: 50%;
        transform: translateY(-50%);
      }
      @media screen and (max-width:810px) {
        position: fixed;
        left: -180%;
        width: 230%;
        color: #000;
        border: 5px solid #000;
        padding: 4%;
        background: #fff;
        top: 210%;
        transform: translateY(0);
      }
      display: none;
      border: none;
      border-bottom: 1px solid #fff;
      color: #fff;
      font-size: 26px;
      background: none;
      position: relative;

      &:focus {
        outline: none;
      }
    }
  }

  nav {
    @media screen and (max-width: 1024px) {
      position: fixed;
      background: rgba(255, 255, 255, 0.9);
      width: 100%; // top: -1%;
      top: -104%;
      height: 102%;
      z-index: 9999;
      transition: top 0.5s;
      padding: 5% 0;
    }
    margin: 1% 0;

    svg {
      @media screen and (max-width:1024px) {
        position: absolute;
        transform: translateY(0);
        top: 7%;
        right: 4%;
        display: inline;
        color: #000;
      }
      @media screen and (max-width:810px) {
        top: 20%;
      }
      @media screen and (max-width:428px) {
        top: 14%;
      }
      display: none;
    }

    ul {
      @media screen and (max-width:1024px) {
        flex-wrap: wrap;
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translateY(-50%);
      }
      display: flex;
      list-style-type: none;
      justify-content: center;
      align-content: space-between;

      li {
        @media screen and (max-width:1024px) {
          flex-basis: 100%;
          padding: 3% 0;
          border-top: 1px solid gray;
        }
        @media screen and (max-width:428px) {
          padding: 5% 0;
        }
        margin: 0 1%;

        a {
          @media screen and (max-width: 1680px) {
            font-size: 1.5vw;
          }
          @media screen and (max-width: 1024px) {
            font-size: 3vw;
            color: #000;
          }
          @media screen and (max-width: 810px) {
            // color:#000;
          }
          @media screen and (max-width:428px) {
            font-size: 7vw;
          }
          text-decoration: none;
          font-size: 26px;
          text-transform: capitalize;
          color: @nav-cta-color;
        }
      }
    }
  }
}
