@import 'vars.less';
@featured_2_cta-color: #000;

.search {
	@media screen and (max-width:1024px){
		padding: 4%;
	}
	max-width: 1680px;
	margin: 0 auto;
	background: #fff;
	padding: 1%;
	display: none;
  min-height: 1024px;

	h1 {
		text-transform: uppercase;
		margin: 0 0 1%;
		text-align: center;
		font-size: 40px;
    font-family: @headers-font
	}

  &>h2 {
    text-align: center;
text-transform: uppercase;
font-size: 40px;
margin: 0 0 2%;
  }

  &> div {
    @media screen and (max-width:1024px){
      width:100%;
    }
    position: absolute;
top: 50%;
transform: translate(-50%, -50%);
left: 50%;
text-align:center;
width: 40%;

    h3 {
      font-size: 24px;
      margin: 0 0 4%;
    }

    #search-bar {
      display: block;
position: relative;
left: 0;
top: 0;
transform: translate(0,0);
text-align: center;
margin: 0 auto;

  svg {
    display:none;
  }
}

  }



	.loading {
		color: #000;
		display:none;
	}

	button {
		@media screen and (max-width: 768px){
			padding: 2% 3%;
		}
		@media screen and (max-width: 414px){
			padding: 4% 6%;
		}
		display: block;
		margin: 0 auto;
		padding: 1% 2%;
		text-transform: uppercase; // font-family: 'Bangers',cursive;
		font-weight: bold; //background: radial-gradient(black, red) no-repeat;
		background: darkred;
		color: #fff;
		border: none;
	}

	ul {
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;

		li {
			@media screen and (max-width: 1024px) {
				flex-basis: 33%;
			}
			@media screen and (max-width: 768px) {
				flex-basis: 50%;
			}
			flex-basis: 25%;
			text-align: center;
			margin: 0 0 4%;
			padding: 0 1%;

			a {
				text-decoration: none;
				color: #000;
			}
		}
	}
}
