* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  font-size: 100%;
  line-height: 150%;
  font-family: sans-serif;
}

.header {
  text-align: center;
  position: relative;
  max-width: 1680px;
  margin: 0 auto;
}

@media screen and (max-width:1024px) {
  .header {
    padding: 2% 0;
  }
}

.footer {
  text-align: center;
  color: #fff;
  padding: 1% 0;
}

@media screen and (max-width:1024px) {
  .footer {
    padding: 4% 0;
  }
}

.pdp {
  max-width: 1680px;
  margin: 0 auto;
  background: #fff;
  padding: 1%;
  display: none;
  flex-wrap: wrap;
}

.pdp div {
  flex-basis: 50%;
}

@media screen and (max-width:414px) {
  .pdp div {
    flex-basis: 100%;
    text-align: center !important;
    padding: 5% !important;
  }
}

.search {
  max-width: 1680px;
  margin: 0 auto;
  background: #fff;
  padding: 1%;
  display: none;
  min-height: 1024px;
}

@media screen and (max-width:1024px) {
  .search {
    padding: 4%;
  }
}

.search>div {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
  width: 40%;
}

@media screen and (max-width:1024px) {
  .search>div {
    width: 100%;
  }
}