* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

body {
  font-size: 100%;
  line-height: 150%;
  font-family: sans-serif;
  background: #000;
}

.header {
  text-align: center;
  position: relative;
}

.footer {
  text-align: center;
  color: #fff;
  padding: 1% 0;
}